---
/**
 * Skip-to-content link for keyboard/screen-reader users.
 * Becomes visible on focus and jumps to the #content landmark.
 */
---

<a href="#content" class="skip-to-content">
  Skip to content
</a>
